@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css");
@import url("https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/full.css");

body {
  background-color: #1a202c;
  color: #a0aec0;
}

.container {
  padding: 10px; /* Reduce the padding to reduce space from the top */
}

.card {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2d3748;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}

.volume-control {
  display: none;
  position: absolute;
  right: 2rem;
  top: 2.5rem;
  transform: rotate(-90deg);
  transform-origin: right top;
  width: 100px;
  background: #2d3748;
  border-radius: 5px;
  padding: 5px;
}

.volume-control.show {
  display: block;
}

.card-icons {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.card-icons-right {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.icon-btn {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
}

.card .content {
  padding-top: 1.5rem;
}
